.root {
	composes: flex from global;
	composes: font-semibold from global;
	composes: font-serif from global;
	composes: h-48 from global;
	composes: items-center from global;
	composes: justify-center from global;
	composes: text-1100 from global;
}
